## Copyright (C) 2022 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: ram-wipe
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13), config-package-dev
Homepage: https://github.com/Kicksecure/ram-wipe
Vcs-Browser: https://github.com/Kicksecure/ram-wipe
Vcs-Git: https://github.com/Kicksecure/ram-wipe.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: ram-wipe
Architecture: all
## systemd-cryptsetup:
## While not a hard dependency in all cases, not having the
## 'systemd-cryptsetup' package installed while using Full Disk Encryption (FDE)
## can break the the boot. Those who do not wish to have 'systemd-cryptsetup'
## installed, can avoid installation by using 'dummy-dependency'.
## See also:
## https://www.kicksecure.com/wiki/Dracut
Depends: helper-scripts, dracut, secure-delete,
 kexec-tools, systemd-cryptsetup, ${misc:Depends}
Description: Wipe RAM on shutdown and reboot
 Helps protect sensitive data by wiping RAM during shutdown and reboot,
 which can help defend against cold boot attacks.
 .
 This package requires dracut. It is incompatible with systems using
 initramfs-tools unless they are switched to dracut.
 .
 Implemented as the dracut module ram-wipe.
 .
 Only tested on systemd-enabled systems.
 .
 User documentation:
 https://www.kicksecure.com/wiki/ram-wipe
 .
 Design documentation:
 https://www.kicksecure.com/wiki/Dev/RAM_Wipe
 .
 Discussion:
 https://forums.whonix.org/t/is-ram-wipe-possible-inside-whonix-cold-boot-attack-defense/5596
 .
 Related links:
 * https://www.kicksecure.com
 * https://www.kicksecure.com/wiki/ram-wipe
 * https://www.kicksecure.com/wiki/Dev/RAM_Wipe
 * https://www.kicksecure.com/wiki/dracut
 * https://www.kicksecure.com/wiki/systemd
