## Copyright (C) 2022 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: ram-wipe
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13), config-package-dev
Homepage: https://github.com/Kicksecure/ram-wipe
Vcs-Browser: https://github.com/Kicksecure/ram-wipe
Vcs-Git: https://github.com/Kicksecure/ram-wipe.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: ram-wipe
Architecture: all
## systemd-cryptsetup:
## While not a hard dependency in all cases, not having the
## 'systemd-cryptsetup' package installed while using Full Disk Encryption (FDE)
## can break the the boot. Those who do not wish to have 'systemd-cryptsetup'
## installed, can avoid installation or remove it using 'dummy-dependency'.
## See also:
## https://www.kicksecure.com/wiki/Dracut
Depends: helper-scripts, dracut, secure-delete,
 kexec-tools, systemd-cryptsetup, ${misc:Depends}
Description: Wipe RAM on shutdown and reboot
 A dracut module that wipes RAM on shutdown and reboot.
 .
 Not implemented for initramfs-tools.
