## Copyright (C) 2023 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## Copyright (C) 2023 - 2023 Friedrich Doku <friedrichdoku@gmail.com>
## See the file COPYING for copying conditions.

[Unit]
Description=Warm Boot Attack Defense Reboot RAM Wipe

## Goals:
## - never start when /proc/cmdline contains wiperam=skip

## Do not run if /proc/cmdline contains wiperam=skip.
ConditionKernelCommandLine=!wiperam=skip

## Avoid RAM wipe reboot loop.
## Defense in depth. The boot process should not proceed until this point anyhow.
ConditionKernelCommandLine=!wiperamexit

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/ram-wipe/cold-boot-attack-defense-status
ExecStop=/usr/libexec/ram-wipe/cold-boot-attack-defense-kexec-prepare
## Debugging.
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
